table, th, td {
    border:3px solid black;
}
table {
    font-size: 30px;
    width: 40%;
    margin: 0 auto;
    border-collapse: collapse;
}
h1 {
    text-align: center;
}
th, td {
    padding: 10px;
}
.td {
    color: blue;
    background-color: aqua;
}
.td2 {
    color: red;
    background-color: bisque;
}
.tdobrazek {
    background-image: url(jjj.jpg);
    background-size: cover;
}
img {
    margin-bottom: 50px;
}
.tdinvis {
    border-color: white;
}
.tdinvis2 {
    border-color: white;
}