.h1 {
    margin-left: 760px;
    color: #5314e4;
}
.invis {
    border-style: none;
}
.dolnitlustacara {
    border-bottom: 2px solid black;
}
td {
    border: 1px solid black;
}
.alkalicke {
    background-color: pink;
}
table {
    font-size: 36px;
    }
table {
    margin: auto;
    border-collapse: collapse;
}
.alkalickezeminy {
    background-color: orange;
}
.prechodne {
    background-color: #cebafc;
}
.kovy {
    background-color: rgb(48, 154, 192);
}
.polokovy {
    background-color: aqua;
}
.nekovy {
    background-color: greenyellow;
}
.halogeny {
    background-color: rgb(0, 191, 255);
}
.vzacneplyny {
    background-color: yellow;
}
.pravatlustacara {
    border-right: 2px solid black;
}
.mensipismena {
    font-size: 10px;
}
.hornitlustacara {
    border-top: 2px solid black;
}
